* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-transform: uppercase;
}

/**** Nav Bar ****/


.nav-link {
    text-transform: uppercase;
    font-family: 'Sofia Sans';
    font-size: 48px;
    font-weight: 1000;
}

/**** Header ****/
#header {
    background-color: #F9E0ED;
    height: 600px;
    justify-content: center;
    align-content: center;
}

.heading-text {
    text-align: center;
}

/**** Work ****/
#work {
    background-color: #FFFCF4;
    height: 800px;
}

.work-heading-light {
    float: right;
}

.work-heading-bold {
    float: right;
}

/**** About ****/
#about {
    background-color: #D9EFF0;
    height: 800px;
}

/**** Projects ****/
#projects {
    background-color: #FFFCF4;
    text-align: center;
    height: 1000px;
}

/**** Skills ****/
#skills {
    background-color: #D9EFF0;
    height: 800px;
}

/**** Contact ****/
#contact {
    background-color: #F9E0ED;
    height: 800px;
}

/**** Text Styles ****/
h1.main-heading {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 128px;
}

h2.main-heading {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 96px;
}

.heading-bold {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 96px;
}

.heading-light {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 96px;
}

.subheading {
    font-family: 'Sofia Sans';
    font-weight: bold;
    font-size: 24px;
}

.body {
    font-family: Sniglet;
    font-weight: normal;
}

.carousel-caption {
    width: 100%;
}

.carousel-title {
    color: black;
}