* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-transform: uppercase;
}

/*** Slideshow ***/

.slideshow-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.carousel {
    width: 100%;
    height: 677px;
    grid-column: span 2;
    grid-row: 2;
}

.carousel-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    padding: 20px;
    grid-column: 1;
    grid-row: 2;
}

.carousel-title {
    display: inline-block;
}

.carousel-text {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

/**** Nav Bar ****/
.nav-link {
    text-transform: uppercase;
    font-family: 'Sofia Sans';
    font-weight: 1000;
}

/**** Header ****/
#header {
    background-color: #F9E0ED;
    height: 600px;
    justify-content: center;
    align-content: center;
}

.heading-text {
    text-align: center;
}

/**** Work ****/
#work {
    background-color: #FFFCF4;
    height: 900px;
}

#work-heading {
    grid-column: span 2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/**** About ****/
#about {
    background-color: #D9EFF0;
    height: 800px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-image {
    width: 100%;
    height: 800px;
    padding: 50px;
}

ul {
    list-style: none;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 30px;
}

.skill:hover {
    background-color: hsl(5, 85%, 63%);
}

/**** Contact ****/
#contact {
    background-color: #F9E0ED;
    height: 800px;
}

.contact-image {
    width: 100%;
    height: 800px;
    padding: 50px;
}

/**** Text Styles ****/
h1.main-heading {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 128px;
}

h2.main-heading {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 96px;
}

.heading-bold {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading-light {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subheading {
    font-family: 'Sofia Sans';
    font-weight: bold;
    font-size: 24px;
}

/*** Animations ***/

.home-hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.home-show {
    opacity: 1;
    transform: translateX(0);
}

.port-card:hover {
    transform: scale(1.05);
    transition-duration: 0.3s ease-in-out;
}

.button {
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 30px;
    margin: 10px;
    transition: 0.3s;
}

.button:hover {
    background-color: hsl(5, 85%, 63%);
}

/*** Transition Delays ***/
.port-card:nth-child(2){
    transition-delay: 200ms;
}

.port-card:nth-child(3){
    transition-delay: 400ms;
}

.heading:nth-child(2) {
    transition-delay: 50ms;
}

.heading:nth-child(3) {
    transition-delay: 100ms;
}

.heading:nth-child(4) {
    transition-delay: 150ms;
}

.about:nth-child(2) {
    transition-delay: 200ms;
}

.contact:nth-child(2) {
    transition-delay: 200ms;
}

/*** WORK PAGE ***/
.container {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .content-item {
    display: none;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
  
  .image-container, .text-container {
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .work-hidden {
    opacity: 0;
  }
  
  .work-show {
    opacity: 1;
  }
  
  .full-width-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }