@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-gooper: var(--font-gooper);
  --font-satoshi: var(--font-satoshi);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #F0F0F0;
  color: #0a0a0a;
  font-family: var(--font-satoshi);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .nav-link, .quote {
	font-family: var(--font-gooper);
}

.swiper-pagination-bullet-active {
	background: #2D2D2D !important;
}

.speech-bubble::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 38px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #fff;
  z-index: 1;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 36px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 14px solid #2d2d2d;
}